body {
    background-color: #d5d3ec !important;
}

.form{
    margin-top: 100px;
}


.form-control{
    background-color: #ffffff !important;
    font-size: 20px;
    font-family: "Century Schoolbook L", monospace;
    width: 350px;!important;
    height: 50px;
}



.btn{
    border-radius: 20px;
    color: white;
    background-color: black;
    font-family: "Century Schoolbook L", monospace;
    width: 120px;
}

.col-md-8{
    margin-top: 20px;
}

h2{
    font-size: 50px;
    font-family: "Century Schoolbook L", monospace;
    margin-left: 150px;
}

table {
    font-family: "Century Schoolbook L", monospace;
    font-size: 15px;
    background-color: #ffffff !important;
    width: 120px;

}

.navbar-brand{
    font-size: 50px;
    margin-left: 100px;
}

